{% extends "base/base.html" %}

{% block title %}About Us{% endblock title %}

{% block header %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">You Can Read About Us Here</p>
        </div>
    </div>
</header>
{% endblock header %}

{% block main %}
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
                <p align="justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quas asperiores voluptate, accusantium repellat, autem rerum vel magnam ipsum, deserunt ullam aut provident facilis sapiente inventore non? Iusto, aut ducimus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quas asperiores voluptate, accusantium repellat, autem rerum vel magnam ipsum, deserunt ullam aut provident facilis sapiente inventore non? Iusto, aut ducimus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quas asperiores voluptate, accusantium repellat, autem rerum vel magnam ipsum, deserunt ullam aut provident facilis sapiente inventore non? Iusto, aut ducimus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quas asperiores voluptate, accusantium repellat, autem rerum vel magnam ipsum, deserunt ullam aut provident facilis sapiente inventore non? Iusto, aut ducimus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quas asperiores voluptate, accusantium repellat, autem rerum vel magnam ipsum, deserunt ullam aut provident facilis sapiente inventore non? Iusto, aut ducimus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quas asperiores voluptate, accusantium repellat, autem rerum vel magnam ipsum, deserunt ullam aut provident facilis sapiente inventore non? Iusto, aut ducimus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quas asperiores voluptate, accusantium repellat, autem rerum vel magnam ipsum, deserunt ullam aut provident facilis sapiente inventore non? Iusto, aut ducimus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quas asperiores voluptate, accusantium repellat, autem rerum vel magnam ipsum, deserunt ullam aut provident facilis sapiente inventore non? Iusto, aut ducimus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quas asperiores voluptate, accusantium repellat, autem rerum vel magnam ipsum, deserunt ullam aut provident facilis sapiente inventore non? Iusto, aut ducimus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quas asperiores voluptate, accusantium repellat, autem rerum vel magnam ipsum, deserunt ullam aut provident facilis sapiente inventore non? Iusto, aut ducimus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quas asperiores voluptate, accusantium repellat, autem rerum vel magnam ipsum, deserunt ullam aut provident facilis sapiente inventore non? Iusto, aut ducimus.

                </p>
            </div>
        </center>
    </div>
</div>
<br><br>
{% endblock main %}
