{% load product_tags %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'product:products' %}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'pages:aboutus' %}">About</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'product:search' %}">Search</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'product:favourite_list' %}">❤️</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">Profile</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'accounts:logout_confirm' %}">Logout</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'accounts:signup' %}">Signup</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Category</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% get_categories as categories %}
                        {% for category in categories %}
                                <li><a class="dropdown-item" href="{% url 'product:category_product' category.slug %}">{{category.category}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <form class="d-flex align-items-center gap-3">
                <a href="{% url 'cart:cart' %}" class="btn btn-outline-dark">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart-quantity">
                        
                        {% with request.session.cart|length as cart_length %}
                            {{cart_length}}
                        {% endwith %}
                    </span>
                </a>
            </form>
        </div>
    </div>
</nav>


